{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="header clearfix">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="">环境变量</a></li>
                    <li role="presentation" class="active"><a href="/material/list">化学成分</a></li>
                    <li role="presentation"><a href="#">腐蚀速率</a></li>
                  </ul>
                </nav>
        </div>


        <div class="inner-container">
            <table class="table table-condensed table-bordered table-hover text-default">
                <tr class="default small text-default">
                    <th class="text-center">
                        材料名称
                    </th>
                    <th class="text-center">
                        P
                    </th>
                    <th class="text-center">
                        C
                    </th>
                    <th class="text-center">
                        S
                    </th>
                    <th class="text-center">
                        Si
                    </th>
                </tr>
                {% for material in materials %}
                <tr class="default small">
                    <td class="text-center">
                        {{ material.chemicalname }}
                    </td>
                    <td class="text-center">
                        {{ material.P }}
                    </td>
                    <td class="text-center">
                        {{ material.C }}
                    </td>
                    <td class="text-center">
                        {{ material.S }}
                    </td>
                    <td class="text-center">
                        {{ material.Si }}
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>

</div>
{% endblock %}
