{% extends "base.html" %}
{% block title %}
地点
{% endblock %}
{% block content %}
<div class="container">
        <div class="header clearfix">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="nav nav-pills pull-left">
                        <a href="/index">
                          首页
                        </a>
                    </li>
                    <li role="presentation"  class="active"><a href="/environment/list">
                        腐蚀地点</a></li>
                    <li role="presentation" ><a href="/material/list">腐蚀材料</a></li>
                    <li role="presentation"><a href="/corrosion/list">腐蚀速率</a></li>
                  </ul>
                </nav>
        </div>


        <div class="inner-container" class="col-xs-12 col-sm-8 col-sm-offset-2">
            <table class="table table-condensed table-bordered table-hover text-default">
                <tr class="default small text-default">
                    <th class="text-center">
                        地点
                    </th>
                    <th class="text-center">
                        时间
                    </th>
                    <th class="text-center">
                        日照时间
                    </th>
                    <th class="text-center">
                        Hcl
                    </th>
                    <th class="text-center">
                        SO2
                    </th>
                    <th class="text-center">
                        PH
                    </th>
                    <th class="text-center">
                        Rain
                    </th>
                </tr>
                {% for environment in environments %}
                <tr class="default small">
                    <td class="text-center">
                        {{ environment.location }}
                    </td>
                    <td class="text-center">
                        {{ environment.time }}
                    </td>
                    <td class="text-center">
                        {{ environment.sunshine }}
                    </td>
                    <td class="text-center">
                        {{ environment.hcl }}
                    </td>
                    <td class="text-center">
                        {{ environment.so2 }}
                    </td>
                    <td class="text-center">
                        {{ environment.ph }}
                    </td>
                    <td class="text-center">
                        {{ environment.rain }}
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>

</div>
{% endblock %}
